header  {
    height: 25%;
    background-color:coral;
}

table {
    width: 100%;
}

table tr td {
    text-align: center;
}

nav h1 {
    text-align: center;
}

main article h3 {
    text-align: center;
}

#msje {
    text-align: center;
}

#foteli {
    align-items: center;
}

aside {
    background-color: coral;
    text-align: center;
}

img {
    display: inline-block;
    margin: auto;
}